<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lidgren.Network" version="1.0.2" targetFramework="net461" />
  <package id="MonoGame.Framework.WindowsDX" version="3.6.0.1625" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Scripty.MsBuild" version="0.7.4" targetFramework="net461" developmentDependency="true" />
  <package id="Serilog" version="2.7.2-dev-01024" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.1.2-dev-00777" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="4.0.1-dev-00796" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>